.App {
  text-align: center;
}

.MainViewWrapper{
  display: flex;
  flex-direction: row;
  height:90vh;
}

.Buckets{
  flex:0.7;
  background-color: gray;
  height: 100%;
  overflow-y: scroll;
}

.CalendarView{
  flex: 1;
  background-color: blue;
  height: 100%;
  width: 100;
}

.Navbar{
  height: 7vh;
}