.MainViewWrapper{
  display: flex;
  flex-direction: row;
  height:90vh;
}

.Buckets{
  flex: 1;
  background-color: gray;
  height: 100%;
}

.CalendarView{
  flex: 1;
  background-color: darkgray;
  height: 100%;
  width: 100;
}

.Navbar{
  height: 7vh;
}